@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: #323437;
}
nav{
    background-color: #e2b714;
    padding: 10px 20px;
    color: #edece1;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.container{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}
.container p span{
    height: auto;
    position: relative;
}
.container p span::after{
    content: "";
    height: 100%;
    width: 2px;
    border-radius: 10px;
    background-color: #e2b714;
    position: absolute;
    right: -4px;
    display: none;
}
.container span#time{
    color: #e2b714;
    font-size: 18px;
    padding: 7px 10px;
    background-color: rgba(255, 255, 255, 0.045);
    border-radius: 5px;
}
.container p{
    margin: 20px 0;
    width: 100%;
    text-align: center;
    color: #5d5f62;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.045);
    border-radius: 5px;
}
.container input{
    display: block;
    width: 450px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.045);
    margin: 0 auto;
    color: white;
}
.container i{
    width: 100%;
    color: #5d5f62;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.container i:hover{
    color: #7b7b7b;
}