@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: #323437;
}
nav{
    background-color: #e2b714;
    padding: 10px 20px;
    color: #edece1;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav i{
    font-size: 24px;
    cursor: pointer;
}
.container{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}
.container p span{
    height: auto;
    position: relative;
}
.container p span pre{
    content: "";
    height: 100%;
    width: 2px;
    border-radius: 10px;
    background-color: #e2b714;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .3s;
    right: -4px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container span#time, .container span#speed{
    color: #e2b714;
    font-size: 18px;
    padding: 7px 10px;
    background-color: rgba(255, 255, 255, 0.045);
    border-radius: 5px;
}
.container p{
    margin: 20px 0;
    width: 100%;
    text-align: center;
    color: #5d5f62;
    font-size: 16px;
    padding: 10px;
    /* background-color: rgba(255, 255, 255, 0.045); */
    border-radius: 5px;
}
.container p span{
    font-family: 'Roboto Mono';
    transition: all .189s ease-in-out;
}
.container input{
    display: block;
    width: 450px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.045);
    margin: 0 auto;
    color: white;
}
.container i{
    display: block;
    color: #5d5f62;
    margin: 20px auto 0;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width: fit-content;
}
.container i:hover{
    color: #7b7b7b;
}
.container h1.g{
    font-family: 'Roboto Mono';
    margin: 20px 0;
}
.container h1 span{
    font-family: 'Roboto Mono';
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
    color: #646669;
    margin-top: 20px;
}
footer kbd{
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #646669;
    color: #323437;
    font-family: 'Roboto Mono';
    font-size: 12px;
    font-weight: 500;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.container table{
    display: block;
    margin: 30px auto;
    width: fit-content;
    border-spacing: 10px;
}
.container table th{
    color: #e2b714;
    font-size: 19px;
}
.container table td{
    background-color: rgba(255, 255, 255, 0.01);
    padding: 10px 50px;
    border-radius: 10px;
    text-align: left;
    color: #7b7b7b;
}
.user{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    grid-area: 10px;
    background-color: #323437;
    color: white;
    width: 350px;
    z-index: 1000;
    border-radius: 10px;
}
.user h1{
    font-size: 18px;
}
.user input{
    padding: 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.03);
    color: white;
}